---
import AboutButton from "../components/AboutButton.astro";
import image from "../assets/about.jpg";

import InteractiveBgAbout from "../components/InteractiveBgAbout.astro";
---

<div class="flex relative min-h-full">
    <div class="w-[50%]">
        <h3
            class="text-2xl md:text-5xl font-bold font-serif text-teal-400 left-0 top-0 p-8 mb-5"
        >
            <span
                class="text-2xl md:text-5xl font-thin font-serif text-teal-400"
                >Nuestro</span
            > Beauty!!
        </h3>
        <h1 class="text-4xl md:text-7xl p-8 mb-5">Sin Cambios no hay vida</h1>
        <p class="p-8 mb-5 text-sm md:text-2xl">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum
            iusto nulla facere sit? Sint, quam.
        </p>
        <AboutButton>
            Aprende sobre Beauty!!
            <svg
                slot="after"
                width="30"
                height="30"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#000000"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l14 0"></path>
                <path d="M15 16l4 -4"></path>
                <path d="M15 8l4 4"></path>
            </svg>
        </AboutButton>
    </div>

    <InteractiveBgAbout>
        <div class="about">
            <img src={image.src} ; alt="" class="rounded-2xl" />
        </div>
    </InteractiveBgAbout>
</div>

<style>
    .about {
        position: relative;
        top: 50px;
        left: 50px;
        text-align: center;
    }

    .about img {
        width: 600px;
    }
</style>
