---
Title: "contact";

import InteractiveBgAbout from "../components/InteractiveBgAbout.astro";
import pretty from "../assets/pretty-woman.jpg";
---

<div
    class="flex relative w-full min-h-full bg-transparent rounded-lg place-content-center"
    transition:name="name"
    transition:animate="initial"
>
    <div class="w-[50%] bg-transparent">
        <InteractiveBgAbout>
            <div class="pretty">
                <img src={pretty.src} ; alt="" class="rounded-2xl" />
            </div>
        </InteractiveBgAbout>
    </div>
    <div class="min-h-screen w-[50%] bg-transparent">
        <script
            type="text/javascript"
            src="https://opnform.com/widgets/iframeResize.min.js"></script>
        <iframe
            style="border:none;width:100%;"
            id="form-contactanos-tbni3d"
            src="https://opnform.com/forms/contactanos-tbni3d"></iframe>
        <script type="text/javascript">
            iFrameResize(
                { log: false, checkOrigin: false },
                "#form-contactanos-tbni3d",
            );
        </script>

        <!-- redes sociales -->
        <a
            href="/"
            class="relative inset-0 m-auto w-full h-full flex justify-center"
        >
            <svg width="50" height="50" viewBox="0 0 512 512"
                ><path
                    fill="none"
                    stroke="#2ec4b6"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="32"
                    d="M249.38 336L170 256l79.38-80M181.03 256H342"></path><path
                    d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z"
                    fill="none"
                    stroke="#2ec4b6"
                    stroke-miterlimit="10"
                    stroke-width="32"></path></svg
            ></a
        >
    </div>
</div>

<style>
    .pretty {
        position: relative;
        top: 50px;
        left: 50px;
        text-align: center;
    }

    .pretty img {
        width: 600px;
    }
</style>
