---
import InteractiveBgAbout from "../components/InteractiveBgAbout.astro";
import pretty from "../assets/pretty-woman.jpg";

//aqui va el javascript
---

<div
    class="flex relative w-full h-screen bg-transparent rounded-lg place-content-center"
>
    <div class="min-h-screen w-[50%] bg-transparent">
        <InteractiveBgAbout>
            <div class="pretty">
                <img src={pretty.src} ; alt="" class="rounded-2xl" />
            </div>
        </InteractiveBgAbout>
    </div>
    <div class="min-h-screen w-[50%] bg-transparent">
        <script
            type="text/javascript"
            src="https://opnform.com/widgets/iframeResize.min.js"></script>
        <iframe
            style="border:none;width:100%;"
            id="form-contactanos-tbni3d"
            src="https://opnform.com/forms/contactanos-tbni3d"></iframe>
        <script type="text/javascript">
            iFrameResize(
                { log: false, checkOrigin: false },
                "#form-contactanos-tbni3d",
            );
        </script>

        <!-- redes sociales -->
    </div>
</div>

<style>
    .pretty {
        position: relative;
        top: 50px;
        left: 50px;
        text-align: center;
    }

    .pretty img {
        width: 600px;
    }
</style>
