---
export interface Props {
    href: string;
}
const { href } = Astro.props;
---

<a
    href={href}
    class="m-auto mb-5 text-sm rounded-3xl border-2 border-black p-3 md:p-5 font-bold uppercase w-full flex md:place-content-center justify-center"
>
    <slot name="before" />
    <slot />
    <slot name="after" />
</a>

<!--  -->
