---
import HeaderButton from "./HeaderButton.astro";
import Rafaela from "../assets/rafaela.png";

import HeaderImage from "./HeaderImage.astro";
---

<div
    class="bg-[rgb(255,255,255)] w-[95%] h-dvh m-5 md:m-10 rounded-2xl outline-offset-0 shadow-2xl overflow-auto touch-auto mb-1 place-content-center items-center relative justify-around"
>
    <div
        class="w-full flex flex-col md:flex-row items-start md:items-center justify-between p-4 top-0"
    >
        <div class="mb-4 md:mb-0 md:mr-10 p-10">
            <a
                href=""
                class="text-2xl md:text-5xl font-bold font-serif text-teal-400"
            >
                Beauty!!
            </a>
        </div>

        <nav
            class="flex flex-col md:flex-row-reverse w-full md:w-auto space-y-2 md:space-y-0"
        >
            <HeaderButton>Promos</HeaderButton>
            <HeaderButton>Productos</HeaderButton>
            <HeaderButton>Contactanos Ya!!</HeaderButton>
        </nav>
    </div>
    <div class="md:flex">
        <HeaderImage />
        <div
            class="md:relative bottom-0 md:w-[45%] left-0 ml-20 md:mt-10 my-10"
        >
            <img src={Rafaela.src} alt="" class="h-50 w-50" />
            <div class="justify-center items-center text-center">
                <div class="items-end ml-20 m-10">
                    <svg width="80" height="80" viewBox="0 0 512 512">
                        <path
                            fill="none"
                            stroke="#2ec4b6"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="32"
                            d="M176 262.62L256 342l80-79.38M256 330.97V170"
                        ></path>
                        <path
                            d="M256 64C150 64 64 150 64 256s86 192 192 192 192-86 192-192S362 64 256 64z"
                            fill="none"
                            stroke="#2ec4b6"
                            stroke-miterlimit="10"
                            stroke-width="32"></path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>

<!--imagen: mt-10 bottom-0 left-0 ml-20 -->
<style>
    img {
        mask-image: linear-gradient(rgb(255, 255, 255) 80%, transparent);
    }
</style>
