---
export interface Props {
    href: string;
    children: string;
}
const { href, children } = Astro.props;
---

<!-- href={href} -->
<a
    href={href}
    class="flex-row justify-center text-black hover:text-white cursor-pointer hover:bg-[#2ec4b6] focus:ring-4 focus:outline-none focus:ring-[#cbf3f0]/50 rounded-lg px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#ffffff]/55 mr-2 mb-2 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 gap-x-2 opacity-70 hover:opacity-100 text-md font-bold"
>
    <slot name="before" />
    <slot />
    <slot name="after" />
</a>
