---
import video from "../assets/video-loop-2.mp4";
import beauty from "../assets/beauty.jpg";
---

<section
    class="size-[50%] relative top-0 overflow-hidden text-center justify-center items-center block"
>
    <video
        src={video}
        autoplay
        loop
        transition:name="media-player-beauty"
        transition:persist></video>
    <div class="beauty">
        <img src={beauty.src} alt="" class="rounded-2xl" />
    </div>
</section>

<style>
    section {
        height: 100vh;
        background-color: black;
    }

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .beauty {
        position: relative;
        top: 100px;
        left: 50px;
        text-align: center;
    }

    .beauty img {
        width: 600px;
    }
</style>
